* {
  margin: 0 auto;
  font-family: 'Nunito', sans-serif !important;
}

.homepage-pic {
  width: 50% !important;
  object-fit: contain;
  overflow: hidden !important;
  border-radius: 10px 0 0 10px;
}


.box {
  background-color: #D3D3D3;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(10 10 10 / 10%), 0 0 0 0px rgb(10 10 10 / 10%);
}