* {
  margin: 0 auto;
  font-family: 'Nunito', sans-serif !important;
}

.main-title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900 !important;
}

.secondary-title {
  font-size: 18px !important;
}

.primary {
  color: #FFA500;
}

.secondary {
  color: grey;
}

.ternary {
  color: black;
}

img.homepage-pic {
  object-fit: contain !important;
  border-radius: 10px 0 0 10px;
}

.box {
  background-color: #D3D3D3;
  box-shadow: 0 10px 20px rgb(10 10 10 / 10%), 0 0 0 0px rgb(10 10 10 / 10%);
}

.box-primary {
  background-color: #FFA500;
  color: "white";
}

.hover-img:hover {
  cursor: pointer;
}